body,html{
	position: relative;
	padding: 0;
	margin: 0;
}
.top{
	text-align: center;
    color: #163a58;
    font-size: 16px;
    border-bottom: 1px solid #deeeff;
    padding: 1vw 0;
    width: 90%;
    margin: 0 auto;
    font-weight: bold;
}
.choosebox{
	width: 90%;
	margin: 0 auto;
	padding: 1vw 0;
}
.choosebox select{
	padding: 2px 5px;
    border: solid 1px #4098fc;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    padding-right: 28px;
    background: url(../img/select.png) no-repeat scroll right center transparent;
}
select::-ms-expand {
	 display: none; 
	 }
.ttl {
	width: 88%;
	margin: 0 auto;
	padding: .2vw 1vw;
	color: #4098fc;
	font-size: 13px;
	font-weight: 600;
	border:1px solid #deeeff;
	border-bottom: 1px solid #fff;
	}

.tab{
	overflow: hidden;
	width: 90%;
	margin: 0 auto;
	border-left: solid 1px #deeeff;
	border-bottom: solid 1px #deeeff;
}
.box{
	display: flex;
}
.box2{
	overflow: hidden;
	position: relative;
	border-right:1px solid #deeeff;
}

.textbox{
	position: relative;
	border-top:1px solid #deeeff;
	border-right:1px solid #deeeff;
	flex: 1;
}
.last{
	border-bottom: 1px solid #deeeff;;
	
}
.textbox2{
	position: relative;
	border-top:1px solid #deeeff;
	border-right:1px solid #deeeff;
	float: left;
	width: 33.25%;
	overflow: hidden;
}
.textbox span{
	display: inline-block;
}
.nav{display: inline-block;
	text-align: center;
	width: 5vw;
	padding: .6vw 1vw;
	background: #f1f8ff;
	color: #555;
	font-size: 12px;
}
input{
	border: 0;
	outline: none;
	
	color: #555;
}
.inp input{
	width: 22vw;
}
.searchbox{
	padding: 1vw 1vw;
	width: 88%;
	margin: 0 auto;
	color: #4098fc;
	font-size: 13px;
}
.searchbox input{
	padding: 0;
	text-indent: .35vw;
	height: 1.6vw;
	width: 18vw;
	border: solid 1px #4098fc;
}
.fabox{
	display: inline-block;
	height: 1.8vw;
	overflow: hidden;
	position: relative;
}
.sernav{
	display: inline-block;
	height: 1.8vw;
	position: relative;
	top: -.5vw;
}
.searchbtn{
	cursor: pointer;
	top: 0;
	position: absolute;
	right: 0;
	height: 1.6vw;
	line-height: 1.6vw;
	width: 3.5vw;
	background: #4098fc;
	color: #fff;
	text-align: center;
	border: solid 1px #4098fc;
}
.loadbox{
	bottom: -2.3vw;
    line-height: 2vw;
    display: none;
    text-indent: .3vw;
    border-bottom: solid 1px #4098fc;
    border-right: solid 1px #4098fc;
    border-left: solid 1px #4098fc;
    background: #fff;
    z-index: 2;
    position: absolute;
    right: 0;
    width: 22.5vw;
    color: #000;
    font-size: 13px;
}
}
.load:hover{
	background: #4098fc;
	color: #fff;
}
.selbox{
	display: none;	
    line-height: 2vw;
    display: none;
    text-indent: .3vw;
    border-bottom: solid 1px #4098fc;
    border-right: solid 1px #4098fc;
    border-left: solid 1px #4098fc;
    background: #fff;
    z-index: 2;
    position: absolute;
    right: 0;
    width: 22.5vw;
    color: #000;
    font-size: 13px;
}
.sel:hover{
	background: #4098fc;
	color: #fff;
}
.order1{
	border: solid 1px #deeeff;
	width:90vw;
	margin-left: 5%;
	
}
.title{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1.5vw;
	padding: .2vw 1vw;
	color: #4098fc;
	font-size: 13px;
	font-weight: 600;
}
.title2{
		width: 100%;
	height: 1.5vw;
	padding: .2vw 1vw;
	color: #4098fc;
	font-size: 13px;
	font-weight: 600;
}
.thclsbox{
	font-size: 12px;
	background: #f1f8ff;
	color: #555;
	text-align: center;
	overflow: hidden;
}
.tdclsbox{
	font-size: 12px;
	background: #fff;
	color: #555;
	text-align: center;
	overflow: hidden;
}
.thcls{
	position: relative;
	padding: .6vw 0;
	float: left;
}
.thcls:after{
	content: "";
	position: absolute;
	top: .6vw;
	height: 15px;
	width: 1px;
	background: #deeeff;
	right: 0;
}
.tdcls{
	position: relative;
	padding: .6vw 0;
	float: left;
	font-size: 12px;
}
.tdcls input{
	width: 100%;
	text-align: center;
}
.tenvw{
	width: 10vw;
}
.sixvw{
	width: 6vw;
}
.icon{
	display: inline-block;
	width: 1vw;
	height: 1vw;
}
.del{
	cursor: pointer;
	background: url(../img/del.png) no-repeat;
	background-size:100% ;
}
.no{
	cursor: pointer;
	background: url(../img/no.png) no-repeat;
	background-size:100% ;
}
.yes{
	cursor: pointer;
	background: url(../img/yes.png) no-repeat;
	background-size:100% ;
}
.order2{
	display: none;
	padding-top: 2vw;
	border: solid 1px #deeeff;
	width:75vw ;
	position: absolute;
	top: 200px;
	left: 300px;
	z-index: 9;
	background: #fff;
	
}
.tip{
	position: fixed;
	top: 30vh;
	left: 40vw;
	background: rgba(0,0,0,0.6);
	color: #fff;
	width: 20vw;
	line-height: 2.5vw;
	text-align: center;
}
.ordhide{
	position: relative;
	top: .2vw;
	float: right;
	margin-right:2vw ;
}
.submit{
	cursor: pointer;
	font-size: 13px;
	display: block;
	background: #4098fc;
	color: #fff;
	width: 4vw;
	padding: .2vw .5vw;
	text-align: center;
	margin: 5vh auto;
}
